In [1]:
import pandas as pd
import numpy as np

## homicidios_hechos

In [2]:
homicidios_hechos = pd.read_excel('../data/raw/homicidios.xlsx', sheet_name='HECHOS')
homicidios_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [3]:
# elimina columnas  que no sean de interes
homicidios_hechos.drop(columns=['AAAA','MM', 'DD', 'HORA','LUGAR_DEL_HECHO', 'Altura','XY (CABA)','Dirección Normalizada'], axis=1, inplace=True)
# cambia nombre a columnas 
homicidios_hechos = homicidios_hechos.rename(columns={'pos x':'longitud','pos y': 'latitud','HH': 'Franja_Hora', 'TIPO_DE_CALLE':'Tipo_Calle'})
# capitaliza nombres de columnas
homicidios_hechos.columns = homicidios_hechos.columns.str.title()
homicidios_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,NaN,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,0,AVENIDA,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [4]:
val = '.'

# Filtra filas en columnas'latitud' y 'longitud' que tengan valor  '.' y crea una lista con los indices de las filas
index_labels = homicidios_hechos.index[
    (homicidios_hechos['Latitud'] == val) & (homicidios_hechos['Longitud'] == val)
]

#imprime lista
print("List of index labels:")
print(index_labels)

List of index labels:
Index([38, 106, 119, 139, 176, 180, 181, 256, 313, 546, 559, 621], dtype='int64')

In [5]:
# Elimina indices seleccionados
homicidios_hechos = homicidios_hechos.drop(index_labels)

# Imprime la forma del data frame
print("Shape of cleaned DataFrame:")
print(homicidios_hechos.shape)

Shape of cleaned DataFrame:
(684, 13)

In [6]:
# Cambia tipo de dato en columnas 'Longitud', 'Latitud'
homicidios_hechos = homicidios_hechos.astype({'Longitud': 'float64', 'Latitud': 'float64'})

In [7]:
# Cantidad de nulos por columna
null_counts = homicidios_hechos.isna().sum()
print(null_counts)

Id                 0
N_Victimas         0
Fecha              0
Franja_Hora        0
Tipo_Calle         0
Calle              0
Cruce            159
Comuna             0
Longitud           0
Latitud            0
Participantes      0
Victima            0
Acusado            0
dtype: int64

Columna cruce contiene un alto numero de valores nulos. Como ya cuento con las coordenadas geográficas y la calle donde ocurrio,de esta columna solo interesaría saber si el hecho ocurrió o no en un cruce. Por lo que transformamos la columna a booleano.

In [8]:

# Replace null values with False and non-null values with True
homicidios_hechos['Cruce'] = homicidios_hechos['Cruce'].notnull().astype('bool')
# Change column type to bool
homicidios_hechos['Cruce'] = homicidios_hechos['Cruce'].astype('bool')
homicidios_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,0,AVENIDA,LARRAZABAL AV.,True,8,-58.465039,-34.680930,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS

In [9]:
def clean_data(homicidios_hechos):
    # Elimina valores nulos en otras columnas.
    homicidios_hechos = homicidios_hechos.dropna(subset=['Calle'])
    return homicidios_hechos
homicidios_hechos = clean_data(homicidios_hechos.copy())

In [10]:
homicidios_hechos.shape

(684, 13)

In [11]:
# Count the number of duplicates in the DataFrame
duplicates = homicidios_hechos.duplicated(subset=['Id'],keep=False)

# Print the number of duplicates
print("Number of duplicates in column 'Id':")
print(duplicates.sum())

Number of duplicates in column 'Id':
0

A pesar de haber eliminado valores faltantes/nulos, el dataset, cuenta con varias filas con valores 'SD', es decir, sin dato, por lo que se opta por eliminarlas.

In [12]:
# Define función para contar proporción de valores 'SD' en una columna
def count_sd_ratio(col):
    sd_count = (col == 'SD').sum()
    total_count = col.notna().sum()
    return sd_count / total_count if total_count > 0 else None

# Cuenta por columna
ratios = homicidios_hechos.select_dtypes(include='object').apply(count_sd_ratio)

print("Proporción de valores 'SD' por columna:")
print(ratios)

Proporción de valores 'SD' por columna:
Id               0.000000
Franja_Hora      0.001462
Tipo_Calle       0.000000
Calle            0.000000
Participantes    0.000000
Victima          0.011696
Acusado          0.029240
dtype: float64

In [13]:
val = 'SD'

#Crea una lista con los indices de las filas que contienen esos valores:
index_labels = homicidios_hechos[homicidios_hechos == val].stack().index.get_level_values(0).unique()

# Imprime lista
print(index_labels)

Index([  3,  32,  35,  57,  76,  83,  88,  92, 105, 112, 126, 160, 164, 197,
       201, 214, 216, 269, 393, 397, 439, 450, 457, 518, 620],
      dtype='int64')

In [14]:
# Elimina índices seleccionados
homicidios_hechos = homicidios_hechos.drop(index_labels)
print(homicidios_hechos.shape)

(659, 13)

In [15]:
homicidios_hechos = homicidios_hechos.reset_index(drop=True)

In [16]:
homicidios_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO

In [20]:
homicidios_hechos.to_csv('../data/processed/homicidios_hechos.csv', index= False , encoding='utf8')

## homicidios_victimas

In [17]:
homicidios_victimas = pd.read_excel('../data/raw/homicidios.xlsx', sheet_name='VICTIMAS')
homicidios_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [18]:
# elimina columnas  que no sean de interes
homicidios_victimas.drop(columns=['AAAA','MM', 'DD', 'FECHA', 'VICTIMA','ROL', 'FECHA_FALLECIMIENTO'], axis=1, inplace=True)
# capitaliza nombres de columnas
homicidios_victimas.columns = homicidios_victimas.columns.str.title()
homicidios_victimas.head()

    Id_Hecho       Sexo Edad
0  2016-0001  MASCULINO   19
1  2016-0002  MASCULINO   70
2  2016-0003  MASCULINO   30
3  2016-0004  MASCULINO   18
4  2016-0005  MASCULINO   29

In [19]:
# Count the number of null values in each column of the DataFrame
null_counts = homicidios_victimas.isna().sum()
# Print the number of null values in each column of the DataFrame
print("Number of null values in each column of the DataFrame:")
print(null_counts)

Number of null values in each column of the DataFrame:
Id_Hecho    0
Sexo        0
Edad        0
dtype: int64

In [20]:
# Count the ratio of 'SD' values in all string columns
ratios = homicidios_victimas.select_dtypes(include='object').apply(count_sd_ratio)

# Print the ratio of 'SD' values in all string columns
print("Ratio of 'SD' values in all string columns:")
print(ratios)

Ratio of 'SD' values in all string columns:
Id_Hecho    0.000000
Sexo        0.008368
Edad        0.073919
dtype: float64

In [21]:
val = 'SD'

# Find the index labels of rows with the specified value
index_labels = homicidios_victimas[homicidios_victimas == val].stack().index.get_level_values(0).unique()

# Print the list of index labels
print("List of index labels:")
print(index_labels)

List of index labels:
Index([ 30,  33,  35,  36,  39,  55,  63,  72,  89,  93, 108, 119, 121, 138,
       141, 142, 165, 176, 182, 225, 243, 275, 277, 299, 328, 359, 367, 371,
       377, 391, 421, 444, 446, 454, 457, 461, 463, 469, 479, 498, 506, 529,
       530, 548, 552, 555, 563, 572, 579, 631, 639, 647, 698],
      dtype='int64')

In [22]:
# Drop the rows with the specified index labels
homicidios_victimas = homicidios_victimas.drop(index_labels)

# Print the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:")
print(homicidios_victimas.shape)

Shape of cleaned DataFrame:
(664, 3)

In [23]:
# Count the number of duplicates in the DataFrame
duplicates = homicidios_victimas.duplicated(subset=['Id_Hecho'],keep=False)

# Print the number of duplicates
print("Number of duplicates in column 'Id':")
print(duplicates.sum())

Number of duplicates in column 'Id':
31

In [24]:
homicidios_victimas = homicidios_victimas.drop_duplicates(subset=['Id_Hecho'])
print(homicidios_victimas.duplicated(subset=['Id_Hecho'],keep=False).sum())

0

In [25]:
homicidios_victimas.head()

    Id_Hecho       Sexo Edad
0  2016-0001  MASCULINO   19
1  2016-0002  MASCULINO   70
2  2016-0003  MASCULINO   30
3  2016-0004  MASCULINO   18
4  2016-0005  MASCULINO   29

In [26]:
homicidios_victimas.shape

(648, 3)

In [31]:
homicidios_victimas.to_csv('../data/processed/homicidios_victimas.csv', index= False , encoding='utf8')

## lesiones_hechos

In [27]:
lesiones_hechos = pd.read_excel('../data/raw/lesiones.xlsx', sheet_name='HECHOS')
lesiones_hechos

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23780,LC-2021-0652849,1,2021,12,31,2021-12-31 00:00:00,19:30:00,19,"ALBERDI, JUAN BAUTISTA AV. y GUAMINI",9,...,-34.659713573880,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23781,LC-2021-0652865,2,2021,12,31,2021-12-31 00:00:00,19:40:00,19,"ALBERDI, JUAN BAUTISTA AV. 4436",9,...,-34.641753304864,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23782,LC-2021-0652907,1,2021,12,31,2021-12-31 00:00:00,20:00:00,20,SD,1,...,-34.583083,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23783,LC-2021-0652921,1,2021,12,31,2021-12-31 00:00:00,22:00:00,22,LINIERS VIRREY y MORENO,5,...,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO-TRANSPORTE PUBLICO,x,0,x,0,0,GRAVE
23784,LC-2020-0244615,1,2020,5,17,5/17/2020,21:00:00,21,SD,SD,...,-3472890716,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,SD

In [28]:
# Define función para contar proporción de valores 'SD' en una columna
def count_sd_ratio(col):
    sd_count = (col == 'SD').sum()
    total_count = col.notna().sum()
    return sd_count / total_count if total_count > 0 else None

# Cuenta por columna
ratios = lesiones_hechos.select_dtypes(include='object').apply(count_sd_ratio)

print("Proporción de valores 'SD' por columna:")
print(ratios)

Proporción de valores 'SD' por columna:
id                       0.000000
fecha                    0.000000
hora                     0.000168
franja_hora              0.000000
direccion_normalizada    0.455714
comuna                   0.035823
tipo_calle               0.464368
otra_direccion           0.769182
calle                    0.000000
cruce                    0.000000
geocodificacion_CABA     0.051082
longitud                 0.051397
latutid                  0.051397
victima                  0.451251
acusado                  0.642758
participantes            0.000000
moto                     0.359235
auto                     0.529419
transporte_publico       0.498101
camion                   0.536384
ciclista                 0.479191
gravedad                 0.969350
dtype: float64

Calcular tasa de valores 'SD' en columnas, ya que el conteo de valores nulos no entregan suficiente información sobre distribución de datos en columnas.

In [29]:
import re

def procesar_otra_direccion(direccion):
  """
  Procesa la información de la columna "otra_direccion" y 
  rellena las columnas "cruce", "calle" y "tipo_calle".

  Args:
    direccion: String con la información de la dirección.

  Returns:
    Diccionario con los valores para las columnas "cruce", "calle" y "tipo_calle".
  """
  cruce = False
  calle = ""
  tipo_calle = "CALLE"

  # Detectar cruce
  if " y " in direccion:
    # Se busca la primera ocurrencia de "y" que no esté entre paréntesis.
    match = re.search(r"y(?!\([^)]*\))", direccion)
    if match:
      cruce = True
      calle_sin_numero = direccion[:match.start()].strip()
    else:
      calle_sin_numero = direccion.strip()
  else:
    calle_sin_numero = direccion.strip()

  # Obtener nombre de la calle
  # Se utiliza una expresión regular más robusta para identificar el final del nombre de la calle.
  match = re.search(r"(?<!\d)\b\d+\b(,\s*,|,\s*Barrio:|,\s*Altura:|,\s*Piso:|,\s*Dto:|,\s*Localidad:|,\s*Provincia:|,\s*Partido:|,\s*Código Postal:|\s*$)", calle_sin_numero)
  if match:
    calle = calle_sin_numero[:match.start()].strip()
  else:
    calle = calle_sin_numero

  # Detectar tipo de calle
  if "AU" in calle:
    tipo_calle = "AUTOPISTA"
  elif "Av." in direccion or "av." in direccion or "avenida" in direccion:
    if "Paz, Gral. Av." in direccion:
      tipo_calle = "GRAL PAZ"
    else:
      tipo_calle = "AVENIDA"

  return {"cruce": cruce, "calle": calle, "tipo_calle": tipo_calle}

In [30]:
lesiones_hechos["cruce"] = lesiones_hechos["otra_direccion"].apply(lambda x: procesar_otra_direccion(x)["cruce"])
lesiones_hechos["calle"] = lesiones_hechos["otra_direccion"].apply(lambda x: procesar_otra_direccion(x)["calle"])
lesiones_hechos["tipo_calle"] = lesiones_hechos["otra_direccion"].apply(lambda x: procesar_otra_direccion(x)["tipo_calle"])

In [31]:
lesiones_hechos.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD

In [32]:
# elimina columnas  que no sean de interes o cuenten con demasiados valores nulos/'SD'
lesiones_hechos.drop(columns=['aaaa','mm', 'dd', 'hora', 'altura','geocodificacion_CABA','moto','auto','transporte_publico','camion','ciclista','gravedad', 'direccion_normalizada', 'otra_direccion'], axis=1, inplace=True)
# cambia nombre a columnas 
lesiones_hechos = lesiones_hechos.rename(columns={'latutid':'latitud'})
# capitaliza nombres de columnas
lesiones_hechos.columns = lesiones_hechos.columns.str.title()
lesiones_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Comuna,Tipo_Calle,Calle,Cruce,Longitud,Latitud,Victima,Acusado,Participantes
0,LC-2019-0000179,1,2019-01-01 00:00:00,9,14,AVENIDA,"Obligado Rafael, Av.Costanera",False,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD
1,LC-2019-0000053,1,2019-01-01 00:00:00,1,8,AVENIDA,Autopista Presidente Héctor J. Cámpora,True,-58.44351,-34.669125,AUTO,SD,AUTO-SD
2,LC-2019-0000063,1,2019-01-01 00:00:00,2,8,CALLE,"Barros Pazos, Jose",True,-58.468335,-34.677556,SD,SD,SD-SD
3,LC-2019-0000079,1,2019-01-01 00:00:00,2,7,AVENIDA,"Torres Y Tenorio, Pres.",True,-58.437425,-34.647349,PEATON,SD,PEATON-SD
4,LC-2019-0000082,4,2019-01-01 00:00:00,4,3,AVENIDA,Corrientes Av.,True,-58.398225,-34.604579,AUTO,SD,AUTO-SD

In [34]:
val = '.'

# Filter for rows where both 'latitud' and 'longitud' have the value 'SD'
index_labels = lesiones_hechos.index[
    (lesiones_hechos['Latitud'] == val) & (lesiones_hechos['Longitud'] == val)
]

# Print the list of index labels
print("List of index labels:")
print(index_labels)

List of index labels:
Index([], dtype='int64')

In [35]:
# Drop the rows with the specified index labels
lesiones_hechos = lesiones_hechos.drop(index_labels)

# Print the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:")
print(lesiones_hechos.shape)

Shape of cleaned DataFrame:
(23785, 13)

In [36]:
# Count the number of null values in each column of the DataFrame
null_counts = lesiones_hechos.isna().sum()

# Print the number of null values in each column of the DataFrame
print("Number of null values in each column of the DataFrame:")
print(null_counts)

Number of null values in each column of the DataFrame:
Id                 0
N_Victimas         0
Fecha              0
Franja_Hora        5
Comuna           169
Tipo_Calle         0
Calle              0
Cruce              0
Longitud         262
Latitud          262
Victima            0
Acusado            0
Participantes      0
dtype: int64

In [37]:
lesiones_hechos = lesiones_hechos.dropna()

In [38]:
# Count the number of null values in each column of the DataFrame
null_counts = lesiones_hechos.isna().sum()

# Print the number of null values in each column of the DataFrame
print("Number of null values in each column of the DataFrame:")
print(null_counts)

Number of null values in each column of the DataFrame:
Id               0
N_Victimas       0
Fecha            0
Franja_Hora      0
Comuna           0
Tipo_Calle       0
Calle            0
Cruce            0
Longitud         0
Latitud          0
Victima          0
Acusado          0
Participantes    0
dtype: int64

In [39]:
# Count the ratio of 'SD' values in all string columns
ratios = lesiones_hechos.select_dtypes(include='object').apply(count_sd_ratio)

# Print the ratio of 'SD' values in all string columns
print("Ratio of 'SD' values in all string columns:")
print(ratios)

Ratio of 'SD' values in all string columns:
Id               0.000000
Fecha            0.000000
Franja_Hora      0.000000
Comuna           0.031805
Tipo_Calle       0.000000
Calle            0.766562
Longitud         0.051195
Latitud          0.051195
Victima          0.449188
Acusado          0.642572
Participantes    0.000000
dtype: float64

In [40]:
val = 'SD'

# Filter for rows where both 'latitud' and 'longitud' have the value 'SD'
index_labels = lesiones_hechos.index[
    (lesiones_hechos['Latitud'] == val) & (lesiones_hechos['Longitud'] == val)
]

# Print the list of index labels
print("List of index labels:")
print(index_labels)

List of index labels:
Index([   19,    33,    72,    79,    93,   123,   128,   129,   186,   229,
       ...
       23523, 23529, 23541, 23554, 23562, 23607, 23642, 23669, 23740, 23772],
      dtype='int64', length=1204)

In [41]:
# Drop the rows with the specified index labels
lesiones_hechos = lesiones_hechos.drop(index_labels)

# Print the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:")
print(lesiones_hechos.shape)

Shape of cleaned DataFrame:
(22314, 13)

In [42]:
comunas = lesiones_hechos['Comuna'].unique()
print(comunas)

[14 8 7 3 15 11 9 1 4 12 2 6 5 13 10 'No Especificada' 'SD']

In [43]:
val = 'SD'

# Filter for rows where both 'latitud' and 'longitud' have the value 'SD'
index_labels2 = lesiones_hechos.index[
    (lesiones_hechos['Comuna'] == val)]

# Drop the rows with the specified index labels
lesiones_hechos = lesiones_hechos.drop(index_labels2)

In [44]:
val = 'No Especificada'

# Filter for rows where both 'latitud' and 'longitud' have the value 'SD'
index_labels3 = lesiones_hechos.index[
    (lesiones_hechos['Comuna'] == val)]

# Drop the rows with the specified index labels
lesiones_hechos = lesiones_hechos.drop(index_labels3)

In [45]:
val = 'sd'

# Filter for rows where both 'latitud' and 'longitud' have the value 'SD'
index_labels4 = lesiones_hechos.index[
    (lesiones_hechos['Franja_Hora'] == val)]

# Drop the rows with the specified index labels
lesiones_hechos = lesiones_hechos.drop(index_labels4)

In [46]:
lesiones_hechos = lesiones_hechos.astype({'Franja_Hora': 'int8'})
# Change column type to float64 for columns: 'Longitud', 'Latitud'
lesiones_hechos = lesiones_hechos.astype({'Longitud': 'float64', 'Latitud': 'float64'})
# Change column type to datetime64[ns] for column: 'Fecha'
lesiones_hechos = lesiones_hechos.astype({'Fecha': 'datetime64[ns]'})

lesiones_hechos = lesiones_hechos.astype({'Comuna': 'int8'})

# Print the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:")
print(lesiones_hechos.shape)

Shape of cleaned DataFrame:
(22238, 13)

In [47]:
lesiones_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Comuna,Tipo_Calle,Calle,Cruce,Longitud,Latitud,Victima,Acusado,Participantes
0,LC-2019-0000179,1,2019-01-01,9,14,AVENIDA,"Obligado Rafael, Av.Costanera",False,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD
1,LC-2019-0000053,1,2019-01-01,1,8,AVENIDA,Autopista Presidente Héctor J. Cámpora,True,-58.443510,-34.669125,AUTO,SD,AUTO-SD
2,LC-2019-0000063,1,2019-01-01,2,8,CALLE,"Barros Pazos, Jose",True,-58.468335,-34.677556,SD,SD,SD-SD
3,LC-2019-0000079,1,2019-01-01,2,7,AVENIDA,"Torres Y Tenorio, Pres.",True,-58.437425,-34.647349,PEATON,SD,PEATON-SD
4,LC-2019-0000082,4,2019-01-01,4,3,AVENIDA,Corrientes Av.,True,-58.398225,-34.604579,AUTO,SD,AUTO-SD

In [48]:
lesiones_hechos = lesiones_hechos.reset_index(drop=True)

In [49]:
# Count the number of duplicates in the DataFrame
duplicates = lesiones_hechos.duplicated(subset=['Id'],keep=False)

# Print the number of duplicates
print("Number of duplicates in column 'Id':")
print(duplicates.sum())

Number of duplicates in column 'Id':
0

In [54]:
lesiones_hechos.to_csv('../data/processed/lesiones_hechos.csv', index= False , encoding='utf8')

## lesiones_victimas

In [50]:
lesiones_victimas = pd.read_excel('../data/raw/lesiones.xlsx', sheet_name='VICTIMAS')
lesiones_victimas

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD
...,...,...,...,...,...,...,...,...,...
27600,LC-2021-0451911,2021,9,11,2021-09-11,TRANSPORTE PUBLICO,Varon,87,SD
27601,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,60,SD
27602,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,32,SD
27603,LC-2021-0201378,2021,5,2,2021-05-02,MOTO,Varon,32,SD
27604,LC-2021-0229350,2021,5,19,2021-05-19,MOTO,Varon,41,SD

In [51]:
# Count the ratio of 'SD' values in all string columns
ratios = lesiones_victimas.select_dtypes(include='object').apply(count_sd_ratio)

# Print the ratio of 'SD' values in all string columns
print("Ratio of 'SD' values in all string columns:")
print(ratios)

Ratio of 'SD' values in all string columns:
ID hecho            0.000000
VEHICULO_VICTIMA    0.162253
SEXO                0.069879
EDAD_VICTIMA        0.144539
GRAVEDAD            0.750661
dtype: float64

In [52]:
# elimina columnas  que no sean de interes o cuenten con demasiados valores nulos/'SD'
lesiones_victimas.drop(columns=['AAA','MM','DD','FECHA ','VEHICULO_VICTIMA','GRAVEDAD'], axis=1, inplace=True)
# cambia nombre a columnas 
lesiones_victimas = lesiones_victimas.rename(columns={'ID hecho':'Id_Hecho', 'EDAD_VICTIMA':'Edad'})
# capitaliza nombres de columnas
lesiones_victimas.columns = lesiones_victimas.columns.str.title()
lesiones_victimas.head()

          Id_Hecho   Sexo Edad
0  LC-2019-0000053  Varon   57
1  LC-2019-0000063     SD   SD
2  LC-2019-0000079  Varon   SD
3  LC-2019-0000082  Varon   45
4  LC-2019-0000082  Mujer   45

In [53]:
# Count the number of duplicates in the DataFrame
duplicates = lesiones_victimas.duplicated(subset=['Id_Hecho'],keep=False)

# Print the number of duplicates
print("Number of duplicates in column 'Id_Hecho':")
print(duplicates.sum())

Number of duplicates in column 'Id_Hecho':
6572

Los ID están duplicados porque en lesiones_hechos, si hay 2 o más víctimas, en lesiones_victimas se crea una fila independiente por cada víctima.

In [54]:
Sexos = lesiones_victimas['Sexo'].unique()
print(Sexos)

['Varon' 'SD' 'Mujer' 'varon' 'mujer' 'MUJER' 'sd' 'Mujer ']

Procedemos a normalizar columna sexo con valores: FEMENINO, MASCULINO, SD

In [55]:
def clean_data(lesiones_victimas):
    # Replace all instances of "Varon" with "MASCULINO" in column: 'Sexo'
    lesiones_victimas.loc[lesiones_victimas['Sexo'].str.lower() == "Varon".lower(), 'Sexo'] = "MASCULINO"
    # Replace all instances of "varon" with "MASCULINO" in column: 'Sexo'
    lesiones_victimas.loc[lesiones_victimas['Sexo'].str.lower() == "varon".lower(), 'Sexo'] = "MASCULINO"
    # Replace all instances of "Mujer" with "FEMENINO" in column: 'Sexo'
    lesiones_victimas.loc[lesiones_victimas['Sexo'].str.lower() == "Mujer".lower(), 'Sexo'] = "FEMENINO"
    # Replace all instances of "Mujer " with "FEMENINO" in column: 'Sexo'
    lesiones_victimas['Sexo'] = lesiones_victimas['Sexo'].str.replace("Mujer ", "FEMENINO", case=False, regex=False)
    # Replace all instances of "mujer" with "FEMENINO" in column: 'Sexo'
    lesiones_victimas.loc[lesiones_victimas['Sexo'].str.lower() == "mujer".lower(), 'Sexo'] = "FEMENINO"
    # Replace all instances of "sd" with "SD" in column: 'Sexo'
    lesiones_victimas['Sexo'] = lesiones_victimas['Sexo'].str.replace("sd", "SD", case=False, regex=False)
    return lesiones_victimas

lesiones_victimas= clean_data(lesiones_victimas.copy())
lesiones_victimas.head()

          Id_Hecho       Sexo Edad
0  LC-2019-0000053  MASCULINO   57
1  LC-2019-0000063         SD   SD
2  LC-2019-0000079  MASCULINO   SD
3  LC-2019-0000082  MASCULINO   45
4  LC-2019-0000082   FEMENINO   45

In [56]:
val = 'SD'

index_labels = lesiones_victimas.index[
    (lesiones_victimas['Sexo'] == val)]

# Print the list of index labels
print("List of index labels:")
print(index_labels)

# Drop the rows with the specified index labels
lesiones_victimas = lesiones_victimas.drop(index_labels)

List of index labels:
Index([    1,    10,    31,    41,   193,   209,   245,   264,   360,   373,
       ...
       27504, 27514, 27533, 27542, 27548, 27578, 27589, 27595, 27596, 27597],
      dtype='int64', length=2228)

In [57]:
val = 'SD'

index_labels = lesiones_victimas.index[
    (lesiones_victimas['Edad'] == val)]

# Print the list of index labels
print("List of index labels:")
print(index_labels)

# Drop the rows with the specified index labels
lesiones_victimas = lesiones_victimas.drop(index_labels)

List of index labels:
Index([    2,    14,    21,    32,    52,    57,    58,    59,    69,    75,
       ...
       27141, 27214, 27282, 27295, 27297, 27333, 27416, 27417, 27419, 27469],
      dtype='int64', length=2239)

In [58]:
lesiones_victimas

              Id_Hecho       Sexo Edad
0      LC-2019-0000053  MASCULINO   57
3      LC-2019-0000082  MASCULINO   45
4      LC-2019-0000082   FEMENINO   45
5      LC-2019-0000082  MASCULINO   27
6      LC-2019-0000082   FEMENINO   32
...                ...        ...  ...
27600  LC-2021-0451911  MASCULINO   87
27601  LC-2021-0530228   FEMENINO   60
27602  LC-2021-0530228   FEMENINO   32
27603  LC-2021-0201378  MASCULINO   32
27604  LC-2021-0229350  MASCULINO   41

[23138 rows x 3 columns]

In [64]:
#lesiones_victimas = lesiones_victimas.drop_duplicates(subset=['Id_Hecho'])
#print(lesiones_victimas.duplicated(subset=['Id_Hecho'],keep=False).sum())

In [59]:
# Count the number of null values in each column of the DataFrame
null_counts = lesiones_victimas.isna().sum()
# Print the number of null values in each column of the DataFrame
print("Number of null values in each column of the DataFrame:")
print(null_counts)

Number of null values in each column of the DataFrame:
Id_Hecho    0
Sexo        0
Edad        0
dtype: int64

In [60]:
lesiones_victimas.shape

(23138, 3)

In [61]:
lesiones_victimas = lesiones_victimas.reset_index(drop=True)

In [62]:
lesiones_victimas.to_csv('../data/processed/lesiones_victimas.csv', index= False , encoding='utf8')

## dataframe 'siniestros_hechos' 

se concatenan los dataframes homicidios_hechos y lesiones_hechos, se agrega una columna que identifica al siniestro como lesión u homicidio.

In [63]:
homicidios_hechos['Dataset'] = 'homicidio'
lesiones_hechos['Dataset'] = 'lesion'

In [64]:
siniestros_hechos = pd.concat([homicidios_hechos, lesiones_hechos], ignore_index=True)
siniestros_hechos

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado,Dataset
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,homicidio
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,homicidio
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,homicidio
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,homicidio
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,homicidio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22892,LC-2021-0652812,1,2021-12-31,18,CALLE,SD,False,6,-58.432886,-34.619702,SD-SD,SD,SD,lesion
22893,LC-2021-0652849,1,2021-12-31,19,CALLE,SD,False,9,-58.513477,-34.659714,SD-SD,SD,SD,lesion
22894,LC-2021-0652865,2,2021-12-31,19,CALLE,SD,False,9,-58.488327,-34.641753,SD-SD,SD,SD,lesion
22895,LC-2021-0652907,1,2021-12-31,20,CALLE,Barrio Padre Carlos Mugica (Villa 31 bis),False,1,-58.382894,-34.583083,SD-SD,SD,SD,lesion
22896,LC-2021-0652921,1,2021-12-31,22,CALLE,SD,False,5,-58.414532,-34.614288,MOTO-TRANSPORTE PUBLICO,MOTO,TRANSPORTE PUBLICO,lesion

In [71]:
siniestros_hechos.to_csv('../data/processed/siniestros_hechos.csv', index= False , encoding='utf8')

## dataframe 'siniestros_victimas' 

se concatenan los dataframes homicidios_victimas y lesiones_victimas, se agrega una columna que identifica al siniestro como lesión u homicidio.

In [65]:
print(homicidios_victimas.shape)
print(lesiones_victimas.shape)

(648, 3)
(23138, 3)

In [66]:
lesiones_victimas.head()

          Id_Hecho       Sexo Edad
0  LC-2019-0000053  MASCULINO   57
1  LC-2019-0000082  MASCULINO   45
2  LC-2019-0000082   FEMENINO   45
3  LC-2019-0000082  MASCULINO   27
4  LC-2019-0000082   FEMENINO   32

In [67]:
homicidios_victimas.head()

    Id_Hecho       Sexo Edad
0  2016-0001  MASCULINO   19
1  2016-0002  MASCULINO   70
2  2016-0003  MASCULINO   30
3  2016-0004  MASCULINO   18
4  2016-0005  MASCULINO   29

In [68]:
siniestros_victimas = pd.concat([homicidios_victimas, lesiones_victimas], ignore_index=True)
siniestros_victimas

              Id_Hecho       Sexo Edad
0            2016-0001  MASCULINO   19
1            2016-0002  MASCULINO   70
2            2016-0003  MASCULINO   30
3            2016-0004  MASCULINO   18
4            2016-0005  MASCULINO   29
...                ...        ...  ...
23781  LC-2021-0451911  MASCULINO   87
23782  LC-2021-0530228   FEMENINO   60
23783  LC-2021-0530228   FEMENINO   32
23784  LC-2021-0201378  MASCULINO   32
23785  LC-2021-0229350  MASCULINO   41

[23786 rows x 3 columns]

In [76]:
siniestros_victimas.to_csv('../data/processed/siniestros_victimas.csv', index= False , encoding='utf8')

# Cruces_semaforizados
Los siniestros registrados, ¿ocurren cerca de un semáforo?. La data es obtenida desde el archivo cruces_semaforizados.csv, disponible en: https://data.buenosaires.gob.ar/dataset/cruces-semaforizados

In [70]:
#cargamos dataset
cruces_semaforo = pd.read_csv('../data/raw/cruces-semaforizados.csv')
cruces_semaforo

,long,lat,n_cruce,id_codigo,fecha_inau,anio_inau,dom_orig,dom_norma,origen,observ,...,horario,fecha_fina,id_usig,objeto,calle_nombre,calle_altura,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.369318,-34.609241,1015.0,B-CR-01015,NaN,NaN,Paseo Colón Av. y La Rábida,NaN,Coordenada,Av. Paseo Colón - Nueva Rábida (Cruce nuevo a ...,...,Titilante por obra,Hasta la finalización de Obra de Paseo del Baj...,1,CRUCE SEMAFORIZADO,PASEO COLON AV.,NaN,Monserrat,Comuna 1,NaN,NaN
1,-58.367144,-34.612145,1031.0,B-CR-01031,NaN,NaN,Belgrano Av. y Huergo Ing. Av.,NaN,Coordenada,Huergo entre Av. Belgrano y Venezuela (provis...,...,Apagado por obra,Hasta la finalización de Obra de Paseo del Baj...,2,CRUCE SEMAFORIZADO,BELGRANO AV.,NaN,Monserrat,Comuna 1,NaN,NaN
2,-58.402424,-34.589907,1145.0,B-CR-01145,NaN,NaN,Laprida 1739,NaN,Coordenada,Laprida -Salida de Bomberos,...,Titilante 24hs.,NaN,3,CRUCE SEMAFORIZADO,LAPRIDA,1739.0,Recoleta,Comuna 2,1425.0,C1425EKO
3,-58.381459,-34.623798,2132.0,B-CR-02132,NaN,NaN,Lima y Cochabamba,NaN,Coordenada,Lima-Cochabamba,...,Titilante 24hs.,NaN,4,CRUCE SEMAFORIZADO,LIMA,NaN,Constitucion,Comuna 1,NaN,NaN
4,-58.366325,-34.619239,2223.0,B-CR-02223,NaN,NaN,Huergo Ing. Av. y Calvo Carlos,NaN,Coordenada,Huergo- Carlos Calvo,...,Titilante por obra,Hasta la finalización de Obra de Paseo del Baj...,5,CRUCE SEMAFORIZADO,"HUERGO, ING. AV.",NaN,Puerto Madero,Comuna 1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,-58.382065,-34.591573,1182.0,B-CR-01182,NaN,NaN,9 de Julio Av. y Arroyo,NaN,Coordenada,NaN,...,NaN,NaN,212,NaN,9 DE JULIO AV.,NaN,Retiro,Comuna 1,NaN,NaN
3942,-58.454646,-34.650802,9654.0,B-CR-09654,NaN,NaN,Av. Castañares y Moreno Perito Av.,NaN,Coordenada,NaN,...,NaN,NaN,3682,CRUCE SEMAFORIZADO,CASTA\u00d1ARES AV.,NaN,Flores,Comuna 7,NaN,NaN
3943,-58.469395,-34.649631,9554.0,B-CR-09554,NaN,NaN,"Av. Perón Eva y Lacarra ""E""",NaN,Coordenada,NaN,...,NaN,NaN,3632,CRUCE SEMAFORIZADO,NaN,NaN,Parque Avellaneda,Comuna 9,NaN,NaN
3944,-58.469616,-34.649451,9555.0,B-CR-09555,NaN,NaN,Av. Perón Eva y Lacarra,NaN,Coordenada,NaN,...,NaN,NaN,3633,CRUCE SEMAFORIZADO,"PERON, EVA AV.",NaN,Parque Avellaneda,Comuna 9,NaN,NaN
3945,-58.380558,-34.620958,2122.0,B-CR-02122,NaN,NaN,Humberto 1ª y 9 de Julio,NaN,Coordenada,NaN,...,NaN,NaN,675,CRUCE SEMAFORIZADO,NaN,NaN,Constitucion,Comuna 1,NaN,NaN

In [78]:
df_semaforos = cruces_semaforo[['long','lat','id_codigo']].rename(columns={'long': 'Longitud', 'lat':'Latitud', 'id_codigo': 'id_cruce'})
df_semaforos.head()

    Longitud    Latitud    id_cruce
0 -58.369318 -34.609241  B-CR-01015
1 -58.367144 -34.612145  B-CR-01031
2 -58.402424 -34.589907  B-CR-01145
3 -58.381459 -34.623798  B-CR-02132
4 -58.366325 -34.619239  B-CR-02223

creamos una función para calcular si el siniestro ocurrió cerca de un semáforo.

In [95]:
from geopy.distance import geodesic

def calcular_distancia(siniestro, semaforo):
  """Calcula la distancia entre un siniestro y un semaforo urbano."""
  try:
    coordenadas_siniestro = (float(siniestro[0]), float(siniestro[1]))
    coordenadas_semaforo = (float(semaforo[0]), float(semaforo[1]))
  except ValueError:
    return None
  return geodesic(coordenadas_siniestro, coordenadas_semaforo).meters

def dentro_de_rango(siniestro, semaforos, rango):
  """Devuelve True si el siniestro está dentro del rango de distancia del semaforo."""
  for semaforo in semaforos:
    distancia = calcular_distancia(siniestro, semaforo)
    if distancia is None:
      return False
    if distancia <= rango:
      return True
  return False

valores_rango = [dentro_de_rango(siniestro, df_semaforos[['Latitud', 'Longitud']].values.tolist(), 30) for siniestro in siniestros_hechos[['Latitud', 'Longitud']].values.tolist()]
siniestros_hechos["dentro_rango_30m"] = [valor if valor is not None else False for valor in valores_rango]

siniestros_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado,Dataset,dentro_rango_30m
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,homicidio,True
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,homicidio,False
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,homicidio,False
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,homicidio,True
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,homicidio,False

In [96]:
semaforos = siniestros_hechos[['Id','dentro_rango_30m']]
semaforos

                    Id  dentro_rango_30m
0            2016-0001              True
1            2016-0002             False
2            2016-0003             False
3            2016-0005              True
4            2016-0008             False
...                ...               ...
22892  LC-2021-0652812             False
22893  LC-2021-0652849             False
22894  LC-2021-0652865             False
22895  LC-2021-0652907             False
22896  LC-2021-0652921              True

[22897 rows x 2 columns]

In [97]:
semaforos.to_csv('../data/processed/semaforos.csv')

In [98]:
siniestros_hechos = siniestros_hechos.rename(columns={'dentro_rango_30m':'semaforo'})

In [99]:
def clean_data(siniestros_hechos):
    # Replace all instances of "BICICLETA" with "CICLISTA" in columns: 'Victima', 'Acusado'
    siniestros_hechos['Victima'] = siniestros_hechos['Victima'].str.replace("BICICLETA", "CICLISTA", case=False, regex=False)
    siniestros_hechos['Acusado'] = siniestros_hechos['Acusado'].str.replace("BICICLETA", "CICLISTA", case=False, regex=False)
    return siniestros_hechos

siniestros_hechos_clean = clean_data(siniestros_hechos.copy())
siniestros_hechos_clean.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado,Dataset,semaforo
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,homicidio,True
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,homicidio,False
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,homicidio,False
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,homicidio,True
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,homicidio,False

In [100]:
siniestros_hechos_clean.to_csv('../data/processed/siniestros_hechos.csv',index= False , encoding='utf8')

se repite el proceso pero se baja el rango a 15 metros

In [101]:
valores_rango = [dentro_de_rango(siniestro, df_semaforos[['Latitud', 'Longitud']].values.tolist(), 15) for siniestro in siniestros_hechos[['Latitud', 'Longitud']].values.tolist()]
siniestros_hechos["semaforo_15m"] = [valor if valor is not None else False for valor in valores_rango]

siniestros_hechos.head()

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado,Dataset,semaforo,semaforo_15m
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,homicidio,True,True
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,homicidio,False,False
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,homicidio,False,False
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,homicidio,True,True
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,homicidio,False,False

In [102]:
semaforo_15m = siniestros_hechos[['Id','semaforo_15m']]
semaforo_15m.head()

          Id  semaforo_15m
0  2016-0001          True
1  2016-0002         False
2  2016-0003         False
3  2016-0005          True
4  2016-0008         False

In [103]:
semaforo_15m.to_csv('../data/processed/semaforo_15m.csv')

In [104]:
siniestros_hechos_clean = siniestros_hechos_clean.rename(columns={'semaforo':'semaforo_30m'})

In [110]:
siniestros_hechos_clean['semaforo_15m'] = siniestros_hechos['semaforo_15m']
siniestros_hechos_clean

,Id,N_Victimas,Fecha,Franja_Hora,Tipo_Calle,Calle,Cruce,Comuna,Longitud,Latitud,Participantes,Victima,Acusado,Dataset,semaforo_30m,semaforo_15m
0,2016-0001,1,2016-01-01,4,AVENIDA,PIEDRA BUENA AV.,True,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,homicidio,True,True
1,2016-0002,1,2016-01-02,1,GRAL PAZ,"PAZ, GRAL. AV.",True,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,homicidio,False,False
2,2016-0003,1,2016-01-03,7,AVENIDA,ENTRE RIOS AV.,False,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,homicidio,False,False
3,2016-0005,1,2016-01-21,5,AVENIDA,SAN JUAN AV.,True,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,homicidio,True,True
4,2016-0008,1,2016-01-24,18,AVENIDA,27 DE FEBRERO AV.,True,8,-58.444513,-34.684759,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,homicidio,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22892,LC-2021-0652812,1,2021-12-31,18,CALLE,SD,False,6,-58.432886,-34.619702,SD-SD,SD,SD,lesion,False,False
22893,LC-2021-0652849,1,2021-12-31,19,CALLE,SD,False,9,-58.513477,-34.659714,SD-SD,SD,SD,lesion,False,False
22894,LC-2021-0652865,2,2021-12-31,19,CALLE,SD,False,9,-58.488327,-34.641753,SD-SD,SD,SD,lesion,False,False
22895,LC-2021-0652907,1,2021-12-31,20,CALLE,Barrio Padre Carlos Mugica (Villa 31 bis),False,1,-58.382894,-34.583083,SD-SD,SD,SD,lesion,False,False
22896,LC-2021-0652921,1,2021-12-31,22,CALLE,SD,False,5,-58.414532,-34.614288,MOTO-TRANSPORTE PUBLICO,MOTO,TRANSPORTE PUBLICO,lesion,True,True

In [111]:
siniestros_hechos_clean.to_csv('../data/processed/siniestros_hechos.csv',index= False , encoding='utf8')